* {
  box-sizing: border-box;
}

:root {
  --color-shadow: rgba(255,255,255,0.1);
  --color-bg: #e7e7e7;
  --color-white: #f7f7f7;
  --color-black: #151515;
}

body {
  margin: 5vh 0;
  background-color: var(--color-bg);
  color: var(--color-black);
}

.container {
  background-color: var(--color-white);
  padding: 40px 50px;
  max-width: 600px;
  width: 98vw;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  margin-top: 0;
}

button {
  background-color: var(--color-bg);
  border: solid 1px var(--color-black);
  border-radius: 5px;
  cursor: pointer;
}

input {
  padding-inline: 5px;
}

.name-input-area {
  height: 30px;
  gap: 0 5px;
  display: flex;

  button {
    height: 100%;
    padding-inline: 20px;
  }

  input {
    height: 100%;
    width: 70%;
  }
}

.result-text {
  line-break: auto;
}

.twitter-hashtag-button {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 5px 15px;
  border-radius: calc(infinity * 1px);
}
